/bin/
/build/
/config/
/crash-reports/
/eclipse/
/gradle/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/CREDITS-fml.txt
/forge-1.7.10-10.13.1.1219-changelog.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/options.txt
/README.txt
/.gradle/
/.settings/
/asm/
/augment/
*.log
*.log.[0-99]
.classpath
.project
/branding/
/NBTEdit.log.lck
